snippet gh "GitHub repository"
http://github.com/JoseKilo/$0
endsnippet

snippet timestamp "TimeStamp" !
`date`
endsnippet

snippet now "Now" !
`date +\%d-\%m-\%Y\ \%H:\%M:\%S`
endsnippet

snippet date "Date" !
`date +\%d-\%m-\%Y`
endsnippet

snippet time "Time" !
`date +\%H:\%M:\%S`
endsnippet
