###########################################################################
#                             JavaScript Snippets                         #
###########################################################################

snippet newp "new Promise" !b
var promise = new Promise(function (resolve, reject) {});
endsnippet

snippet for "for loop" !b
for (var i = 0, len = ${1}.length; i < len; i++) {
    ${2}
}
endsnippet

snippet if "if statement" !b
if ($1) {
    ${2}
}
endsnippet
