snippet link "link" !b
.. _${1:anchor}: ${2:https://url}
endsnippet

snippet image "image" !b
.. |${1:Anchor}| image:: {2:https://url}
endsnippet

snippet reflink "reflink" !b
:ref:\`${1:label}\`
endsnippet

snippet ref "ref" !b
.. _${1:label}:
endsnippet
